* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:blue;
}

h1 {
    color: black;
}

.clock-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.clock {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 2px;
}
