<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>best selling page</title>
    <link rel="stylesheet" href="/Frontend-Dev/RivoLandingPage/styles/bestSelling.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <section class="best-selling-products">
        <h1>Best Selling</h1>
        <br>
        <p>Get in on the trend with our curated selection of best-selling styles.</p>
        <div class="items">
            <div>
                <img src="/Frontend-Dev/RivoLandingPage/src/bestSelling1.png" alt="Best Selling Product 1">
                <h3>Regular Fit Long Sleeve Top</h3>
                <p>$38.99 &nbsp; | &nbsp; <i class="fa-solid fa-star" style="color: gold;"></i> 5.0</p>
            </div>

            <div>
                <img src="/Frontend-Dev/RivoLandingPage/src/bestSelling2.png" alt="Best Selling Product 2">
                <h3>Classic Denim Jacket</h3>
                <p>$58.99 &nbsp; | &nbsp; <i class="fa-solid fa-star" style="color: gold;"></i> 4.8</p>
            </div>

            <div>
                <img src="/Frontend-Dev/RivoLandingPage/src/bestSelling3.png" alt="Best Selling Product 3">
                <h3>High Waist Trousers</h3>
                <p>$48.99 &nbsp; | &nbsp; <i class="fa-solid fa-star" style="color: gold;"></i> 4.9</p>
            </div>
        </div>

        <div>
            <button class="see-more-btn">See all &#8594;</button>
        </div>

    </section>
</body>

</html>