<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="/Frontend-Dev/RivoLandingPage/styles/catalog.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <section class="best-selling-products">
        <h1>Designer Clothes For You</h1>
        <p>Immerse yourself in the world of luxury fashion with our meticulously crafted designer clothes!</p>

        <div class="items">
            <div class="item">
                <img src="/Frontend-Dev/RivoLandingPage/src/c1.png" alt="Accessories">
                <h3>Accessories</h3>
                <p>Complete your ensemble with designer accessories such as handbags, scarves, belts, and hats.</p>
            </div>

            <div class="item">
                <img src="/Frontend-Dev/RivoLandingPage/src/c2.png" alt="Dresses">
                <h3>Dresses</h3>
                <p>Explore our stunning collection of designer dresses, perfect for any occasion.</p>
            </div>

            <div class="item">
                <img src="/Frontend-Dev/RivoLandingPage/src/c3.png" alt="Outerwear">
                <h3>Outerwear</h3>
                <p>Browse luxurious designer coats, jackets, and blazers to stay stylishly warm during colder seasons.</p>
            </div>
        </div>
    </section>
</body>

</html>
