<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Frontend-Dev/RivoLandingPage/styles/feedback.css">
    <title>feedback</title>
</head>
<body>
    <section class="feedback-section">
        <h1 class="section-title">Feedback Corner</h1>
        <div class="feedback-cards">
            <div class="feedback-card">
                <h1>“</h1>
                <h3>Emily Wilson</h3>
                <p>The customer experience was exceptional from start to finish. The website is user-friendly, the checkout process was smooth, and the clothes I ordered fit perfectly. I'm beyond satisfied!</p>
            </div>

            <div class="feedback-card" style="background-color: #C2EFD4;">
                <h1>“</h1>
                <h3>Sarah Thompson</h3>
                <p>I absolutely love the quality and style of the clothing I purchased from this website. Customer service was outstanding, and I received my order quickly. Highly recommended!</p>
            </div>

            <div class="feedback-card">
                <h1>“</h1>
                <h3>Olivia Martinez</h3>                
                <p>I had a great experience shopping on this website. The clothes I bought are fashionable and comfortable. Highly satisfied!</p>
            </div>
        </div>
    </section>
</body>
</html>