<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hero page</title>
    <link rel="stylesheet" href="/Frontend-Dev/RivoLandingPage/styles/heroPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">Rivo</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">FEATURES</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="#" class="cart"><i class="fa-solid fa-bag-shopping" style="color: #224F34;"></i></a>
            <button class="login-btn">LOGIN</button>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Discover and <br> Find Your Own <br> Fashion!</h1>
            <p>Explore our curated collection of stylish clothing and accessories tailored to your unique taste.</p>
            <button class="explore-btn">EXPLORE NOW</button>
        </div>
        <div class="hero-image">
            <div class="image-bg">
                <img src="/Frontend-Dev/RivoLandingPage/src/heroImage.png" alt="Fashion Model">
            </div>
        </div>
    </section>
    
</body>
</html>
